*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    max-width: 1500px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.logo img{
    vertical-align: middle;
    margin-right: 10px;
}

.logo a{
    text-decoration: none;
    color: black;
    margin: 10px;
    vertical-align: middle;
}

.link{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.button{
    background-color: dodgerblue;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

main{
    max-width: 1500px;
    margin: 20px auto;
    background-color: lightblue;
    
}

.text{
    max-width: 800px;
    margin: 50px auto;
    
}

.text h1{
    font-weight: bolder;
    font-size: 55px;
    padding-top: 40px;
}

.text p{
    margin-top: 40px;
}

.jumbo{
    display: flex;
    position: relative;
}

.jumbo img{
    width: 580px;
    height: 360px;
    position: absolute;
    top: 50px;
    left: 350px;
}

.text .button{
    margin-top: 20px;
}

.text div{
    margin-top: 20px;
}

.text .arrow{
    margin-top: 40px;
    font-size: 40px;
}
